<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      E-Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2>Registration Portal</h2>
    <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="registerAs" placeholder="Select One" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="parent" >Parent</ion-select-option>
            <ion-select-option value="school" >School</ion-select-option>
            <ion-select-option value="teacher" >Teacher</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div *ngIf="msg!=''" padding id="errMsg" class="danger">
        {{msg}}
      </div>
      <div *ngIf="errorMsg!=''" padding id="errMsg" class="danger">
        {{errorMsg}}
      </div>
  <div>
  <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
    <ion-label  position="floating">Full Name*</ion-label>
    <ion-input [(ngModel)]="user.name" type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="registerAs=='parent'">
    <ion-label position="floating">Registration Number*</ion-label>
    <ion-input [(ngModel)]="user.registrationNo" type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="registerAs=='teacher'">
    <ion-label position="floating">Employee ID*</ion-label>
    <ion-input [(ngModel)]="user.registrationNo" type="text"></ion-input>
  </ion-item>

  <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
    <ion-label position="floating">CNIC/B-Form No.*</ion-label>
    <ion-input [(ngModel)]="user.CNIC" type="text" ></ion-input>
  </ion-item>
  <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
    <ion-label>Date of Birth*</ion-label>
    <ion-datetime [(ngModel)]="user.DOB" display-format="MM/DD/YYYY" >
    </ion-datetime>
  </ion-item>
  <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
    <ion-label position="floating">Father Name*</ion-label>
    <ion-input [(ngModel)]="user.fatherName" type="text"></ion-input>
</ion-item>
  <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
      <ion-label position="floating">Email*</ion-label>
      <ion-input [(ngModel)]="loginUser.email" ></ion-input>
    </ion-item>

    <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
        <ion-label position="floating">Password*</ion-label>
        <ion-input [(ngModel)]="loginUser.password" type="password"></ion-input>
      </ion-item>    
  <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
    <ion-label position="floating">Address*</ion-label>
    <ion-textarea  [(ngModel)]="user.address" type="text"></ion-textarea >
  </ion-item>
  <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
      <ion-label position="floating">Contact*</ion-label>
      <ion-input [(ngModel)]="user.contactNo" type="tel" ui-br-phone-number-mask="countryCode"></ion-input>
    </ion-item>

    <ion-item *ngIf="registerAs=='parent'||registerAs=='teacher'">
        <ion-label position="floating">Emergency Number</ion-label>
        <ion-input [(ngModel)]="user.emergencyNo" type="tel"></ion-input>
      </ion-item>
    
    </div>
    
  <div *ngIf="registerAs=='school'">
      <ion-item>
          <ion-label position="floating">School Registration Key*</ion-label>
          <ion-input [(ngModel)]="school.schoolId" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">School Name*</ion-label>
          <ion-input [(ngModel)]="school.name" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Email*</ion-label>
          <ion-input [(ngModel)]="loginUser.email" type="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password*</ion-label>
          <ion-input [(ngModel)]="loginUser.password" type="password"></ion-input>
        </ion-item>
      <ion-item>
          <ion-label position="floating">Contact*</ion-label>
          <ion-input [(ngModel)]="school.contactNo" type="tel"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Slogan*</ion-label>
          <ion-textarea [(ngModel)]="school.slogan" type="text"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Address*</ion-label>
          <ion-textarea [(ngModel)]="school.address" type="text"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label position="floating">City*</ion-label>
          <ion-input [(ngModel)]="school.city" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Country*</ion-label>
        <ion-input [(ngModel)]="school.country" type="text"></ion-input>
    </ion-item>

  </div>
          <ion-button *ngIf="registerAs!=''" color="success" fill = 'outline' (click)="add(user)">Register</ion-button>
        
  
</ion-content>
