<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      E-Diary
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h3>Login Portal</h3>
  <div *ngIf="errMsg!=''" padding id="errMsg" class="danger">
      {{errMsg}}
    </div>
<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input [(ngModel)]="loginUser.email" type="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input [(ngModel)]="loginUser.password" type="password"></ion-input>
</ion-item>
<ion-button color="success" fill = 'outline' (click)="login()">Login</ion-button>

</ion-content>
